name: Test and build
on:
  push:
  pull_request:

env:
  XC8_VERSION: "3.10"

jobs:
  build-remote-firmware:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.28.x'

      - uses: usimd/setup-xc-action@v1
        with:
          compiler: xc8
          version: ${{env.XC8_VERSION}}  

      - working-directory: remote/firmware
        run: |
          command -v ninja || sudo apt-get install -y ninja-build
          cmake -Gninja -S cmake/remote/default --preset remote_default_conf --fresh
          cmake --build _build/remote/default -v --parallel

  kicad-base-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: sparkengineering/kicad-action@v4
        with:
          kicad_sch: base/esphome-rf-doorbell.kicad_sch
          sch_pdf: true
          sch_bom: true
          sch_erc: true
          pcb_drc: true
          kicad_pcb: base/esphome-rf-doorbell.kicad_pcb
          pcb_gerbers: true  

  kicad-remote-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: sparkengineering/kicad-action@v4
        with:
          kicad_sch: remote/remote.kicad_sch
          sch_pdf: true
          sch_bom: true
          sch_erc: true
          pcb_drc: true
          kicad_pcb: remote/remote.kicad_pcb
          pcb_gerbers: true  
